/**
 *  If you want to override some foundation settings, you have to change values here.
 *  The list of settings values are listed here bower_components/foundation/scss/foundation/_settings.scss
 */
$topbar-bg-color: #5AADBB;

/**
 *  The import of foundation is made manually because there is still no links of the
 *  sass version in their bower.json...
 *  @import '../../bower_components/foundation/scss/foundation';
 */

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}

body, body h1, body h2, body h3, body h4, body h5 {
  font-family: \5fae\8f6f\96c5\9ed1;
}

/**bootstrap**/
button.btn {
  border-radius: 0;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: 0;
}
.btn.tool-btn {
  margin-right: 5px;
}

/**from input**/
.form-control, .form-control:focus {
  border-radius: 0;
  box-shadow: none;
}
.pagination > li:first-child > a, .pagination > li:last-child > a {
  border-radius: 0;
}
.dropdown-menu {
  border-radius: 0;
}

/**ng verification**/
.form-control.ng-invalid {
  border-color: #dd4b39;
}
.error-tooltip.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #dd4b39;
}
.error-tooltip .tooltip-inner {
  background-color: #dd4b39;
}

/**datatable**/
.dt-body-center {
  text-align: center;
}
table.dataTable thead > tr > th {
  padding-right: 8px;
}
table.dataTable > tbody > tr.row_selected {
  background-color: #B0BED9;
}
.table > tbody > tr:nth-of-type(odd) {
  background-color: #fbfbfb;
}
.table-hover>tbody>tr:hover {
  background-color: #f9f9f9;
}

/**弹出框覆盖**/
.my-ngdialog {
  padding-top: 50px;
  padding-bottom: 0;
}
.my-ngdialog .ngdialog-content {
  background: none;
}
.my-ngdialog .modal-content {
  width: 535px;
  margin: 0 auto;
  border-radius: 0;
}
.my-ngdialog .ngdialog-close {
  display: none;
}
.confirm .modal-content{
  width: 400px;
}
.my-ngdialog button.close:focus {
  outline: none;
}

/**ui-select**/
.ui-select-bootstrap>.ui-select-choices {
    border: 1px solid #3c8dbc;
    border-radius: 0;
}
.ui-select-container .btn.ui-select-toggle {
  border-radius: 0;
  background-color: #FFFFFF;
}

.ui-select-container {
  .btn-default:hover, .btn-default:active, .btn-default.hover {
    border-color: #ddd;
    background-color: #FFFFFF;
  }

  .ui-select-match:focus {
    outline: 0;
  }

  &:focus { outline: 0; }
}

.ui-select-match.btn-default-focus {
  outline: 0;
  box-shadow: none;
}

/**ztree**/
div.ztree {
  padding-left: 0;
}

/**toastr**/
div.toast {
  border-radius: 0;
}

/**datepicker**/
.uib-datepicker-popup.dropdown-menu {
  border-radius: 0;
}
table.uib-daypicker:focus {
  outline: 0;
}
table.uib-daypicker .btn-default{
  border: 0;
  background-color: #FFFFFF;
}
table.uib-daypicker .btn-default.active {
  background-color: #ddd;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
