<div class="modal-content"
    style="{{ngDialogData.width?'width:'+ngDialogData.width:''}}">
  <div class="modal-header">
    <button type="button" class="close"
      ng-click="closeThisDialog()"><span>×</span></button>
    <h4 class="modal-title" ng-bind="ngDialogData.title"></h4>
  </div>
  <div class="modal-body form-horizontal">
    <modal-body
      content="ngDialogData.content"></modal-body><!-- 填出框内容指令 -->
  </div>
  <div class="modal-footer" ng-if="ngDialogData.button != false">
    <button type="button" class="btn btn-default pull-left"
      ng-click="ngDialogData.cancel()">取消</button>
    <button type="button" class="btn btn-primary"
      ng-click="ngDialogData.confirm()">确认</button>
  </div>
</div>