<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">角色列表</h3>
    <div class="pull-right box-tools">
      <button class="btn btn-primary btn-sm" ng-click="vm.add()"><i class="fa fa-plus"></i> 新增角色</button>
      <!-- <i class="fa fa-plus"></i>  -->
    </div>
  </div>

  <div class="box-body">
    <div class="col-sm-8">
      <datatable 
        defs="vm.defs"
        paging="vm.paging"
        columns="vm.columns"
        row-click-notice="vm.onTableClick"
        draught-request="vm.turn"></datatable>
    </div>
    <div class="col-sm-4">
      <div class="row" ng-if="vm.children">
        <div class="box-header">
          <h4 class="box-title">功能权限 <small ng-bind="vm.roleName"></small></h4>
          <div class="pull-right box-tools" style="right:0;">
            <button class="btn btn-primary btn-xs"
              ng-disabled="!vm.isEdited"
              ng-click="vm.updCompetence()">更新权限</button>
          </div>
        </div>
        <div class="box-body" style="margin-top: -10px;">
          <ztree idkey="id" name="machineTree"
            data="vm.children"
            checkeds="vm.checkeds"></ztree>
          </div>
        </div>
    </div>
  </div>
</div>