<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title" ng-bind="vm.title"></h3>
    <div class="pull-right box-tools">
      <button class="btn btn-primary btn-sm"
        ng-repeat="btn in vm.btns"
        ng-click="btn.click(vm)">
          <i ng-if="btn.icon" class="fa {{btn.icon}}"></i>
          {{btn.name}}
        </button>
    </div>
  </div>

  <div class="box-body">
    <table-tools ng-if="vm.tools"
      conf-name="vm.tools"></table-tools>
    <datatable 
      ng-show="stype=='byProduct'"
      defs="vm.defs"
      paging="vm.paging"
      columns="vm.Machinecolumns"
      row-click-notice="vm.onTableClick"
      draught-request="vm.turn"></datatable>
    <datatable 
      ng-show="stype=='byMachine'"
      defs="vm.defs"
      paging="vm.paging"
      columns="vm.Productcolumns"
      row-click-notice="vm.onTableClick"
      draught-request="vm.turn"></datatable>
  </div>
</div>
